<h1>Create Blog</h1>
<form action="/blog/create" method="POST">
    <%- include('../partials/blog_form.ejs') %>
    <input type="submit" value="Post" class="btn btn-success">
    <a href="/dashbord" class="btn btn-secondary">Cancel</a>
</form>